# - Chrome Driver (for YouTube related stuff)
# - ffmpeg (for pydub audio processing)

SpeechRecognition
pywhatkit
python-dotenv
pygame
requests
pycaw
comtypes
pvporcupine
PyAudio
numpy
pydub
undetected-chromedriver
selenium
spotipy
